<?php
namespace Modules\{{MODULE_NAME}}\Models;
use Druto\Models\Model as Model;
class {{MODULE_NAME}}Model extends Model
{
	public function getWelcomeMsg()
	{
		return "Welcome to {{MODULE_NAME}} Module";
	}
}